<form class="form-horizontal" id="comment_form" {{action 'createComment' on='submit'}}>
    <div class="form-group">
        <label class="control-label col-lg-2" for="inputName">Title</label>
        <div class="col-lg-10">
          {{input value=comment.title class="form-control"}}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2" for="inputName">Text</label>
        <div class="col-lg-10">
          {{input value=comment.text class="form-control"}}
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>
</form>