<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to "index"}}
            Home
          {{/link-to}}
        </li>
        <li>
          {{#link-to "projects"}}
            Projects
          {{/link-to}}
        </li>
        <li>
          {{#link-to "myprojects"}}
            My projects
          {{/link-to}}
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         {{#if session.isAuthenticated}}
           <li>{{#link-to "account"}}Account{{/link-to}}</li>
        <li><a href="#" {{action 'logout'}} >Logout ({{sessionAccount.account.username}})</a></li>
      {{else}}
        <li>{{#link-to "signup"}}Sign up{{/link-to}}</li>
        <li>{{#link-to "login"}}Login{{/link-to}}</li>
      {{/if}}
      </ul>
    </div>
  </div>
</nav>
