<div class="form-group">
  <label class="control-label col-lg-4" for="inputName">Name</label>
  <div class="col-lg-8">
    {{input value=model.project.name class="form-control"}}
  </div>
</div>

<div class="form-group">
  <label class="control-label col-lg-4" for="inputIsPublic">Make this project public?</label>
  <div class="col-lg-8">
      {{input type="checkbox" name="isPublic" id="inputIsPublic" checked=model.project.isPublic}}
  </div>
</div>

<div class="form-group">
  <label class="control-label col-lg-4" for="inputMembers">Members</label>
  <div class="col-lg-8">
    {{#each model.users as |member|}}
      {{#unless (eq member.username sessionAccount.account.username)}}
        <li>{{ user-checkbox member=member project=model.project }}</li>
      {{/unless}}
    {{/each}}

  </div>
</div>

<input type="hidden" value={{model.project.id}} id="id"/>