<form class="form-horizontal" role="form" {{action 'create' on='submit'}}>
  <fieldset>
    <legend>New project</legend>
      {{partial 'projects/form'}}
  </fieldset>
</form>
<div class="btn-group">
  <button class="btn btn-large btn-primary" {{action "create"}}>Create</button>
  <button class="btn btn-large btn-danger" type="button">Cancel</button>
</div>