<form class="form-horizontal" role="form" {{action 'create' on='submit'}}>
  <fieldset>
    <legend>New project</legend>
      {{partial 'projects/form'}}
  </fieldset>
</form>
  <button class="btn btn-large btn-primary" {{action "create"}}>Create</button>