<form class="form-horizontal" role="form">
  <fieldset>
    <legend>New project</legend>
      {{partial 'projects/form'}}
  </fieldset>
</form>
<div class="btn-group">
  <button class="btn btn-large btn-primary" type="button">Create</button>
  <button class="btn btn-large btn-danger" type="button">Cancel</button>
</div>