Name: {{model.username}}<br />
Firstname: {{model.firstName}}<br />
Lastname: {{model.lastName}}<br />
Projects:<br />
<ul>
    {{#each model.projects as |p|}}
    <li>{{p.name}}</li>
    {{/each}}
</ul>